* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: @largeFontH1;
  .tablet({
    font-size: @mediumFontH1;
  });
  .mobile({
    font-size: @smallFontH1;
  });
}

h2 {
  font-size: @largeFontH2;
  padding-bottom: 10px;
  .tablet({
    font-size: @mediumFontH2;
  });
  .mobile({
    width: 100%;
    text-align: center;
    font-size: @smallFontH2;
  });
}

h4 {
  font-size: @largeFontH4;
  padding-bottom: 10px;
  .tablet({
    font-size: @mediumFontH4;
  });
  .mobile({
    font-size: @smallFontH4;
  });
}

p {
  line-height: 1.5;
  font-size: @largeFont;
  padding-bottom: 10px;
  .tablet({
    font-size: @mediumFont;
  });
  .mobile({
    font-size: @smallFont;
  });
}

img {
  max-width: 100%;
  height: auto;
}

#viewSettings {
  .tablet({
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  });
  .mobile({
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  });
}

.container {
  padding: 0 @paddingSides;
  .tablet({
    padding: 0 @paddingSidesMed;
  });
  .mobile({
    padding: 0 @paddingSidesSm;
  });
}