* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: @largeFontH1;
  .mediumSize({
    font-size: @mediumFontH1;
  });
  .smallSize({
    font-size: @smallFontH1;
  });
}

h2 {
  font-size: @largeFontH2;
  padding-bottom: 10px;
  .mediumSize({
    font-size: @mediumFontH2;
  });
  .smallSize({
    width: 100%;
    text-align: center;
    font-size: @smallFontH2;
  });
}

h4 {
  font-size: @largeFontH4;
  padding-bottom: 10px;
  .mediumSize({
    font-size: @mediumFontH4;
  });
  .smallSize({
    font-size: @smallFontH4;
  });
}

p {
  line-height: 1.5;
  font-size: @largeFont;
  padding-bottom: 10px;
  .mediumSize({
    font-size: @mediumFont;
  });
  .smallSize({
    font-size: @smallFont;
  });
}

img {
  max-width: 100%;
  height: auto;
}

#viewSettings {
  // .largeSize({
  //   max-width: 1000px;
  //   width: 100%;
  //   margin: 0 auto;
  //   background-color: red;
  // });
  .mediumSize({
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: blue;
  });
  .smallSize({
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: @white;
  });
}

.container {
  padding: 0 @paddingSides;
  .mediumSize({
    padding: 0 @paddingSidesMed;
  });
  .smallSize({
    padding: 0 @paddingSidesSm;
  });
}