// Mixins in here
.largeSize(@rules) {
    @media screen and (min-width: 801px) {@rules(); }
}
.tablet(@rules) {
    @media screen and (max-width: 800px) {@rules(); }
}
.mobile(@rules) {
    @media screen and (max-width: 500px) {@rules(); }
}
// borders
.borderBottom() {
    border-bottom: @borderSize @borderStyle @navigation-border;
}
.borderBottomSm() {
    border-bottom: @borderSizeSm @borderStyleSm @navigation-border;
}
.borderTop() {
    border-top: @borderSize @borderStyle @navigation-border;
}
.borderTopSm() {
    border-top: @borderSizeSm @borderStyleSm @navigation-border;
}

.btnNormal() {
    text-align: center;
    background-color: @btnColor;
    border-style: none;
    border-radius: 10px;
    padding: 1rem 4rem;
    color: @white;
    font-size: @largeFont;
    a {
        text-decoration: none;
        color: @white;
      }
    .mobile({
    background-color: @button-bg;
    font-size: 1.1rem;
    padding: .8rem 5;
    })
}